<%- include('templates/header') -%>

<div class="container">
    <h1 class="center">
        Black Tea
    </h1>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid" src="img/blackTea.jpg" alt="Tea"/>
        </div>
        <div class="col-sm-6">
            Black tea, like all other tea featured on this site, is created from 
            the dried leaves of the Camellia sinensis plant. There are two main 
            varieties of the species, sinensis and assamica. The difference between
            different tea types is the level of oxidation which the leaves have
            when they are brewed. As you might expect, black tea leaves are the 
            most oxidized tea, leading to the strongest flavor. 
            <br> <br>
            Oxidation is the process of exposing the tea leaves to oxygen, which 
            begins as soon as the leaves are picked from the shrub. The oxidation
            time ends when the leaves are exposed to high heat. 
            <br> <br>
            Due to the long shelf life of black tea due to its high oxidation, 
            it was used for centuries as a tradegood, since it had a long shelf life
            and was highly desired outside of China, where it grew.
        </div>
    </div>
</div>


<%- include('templates/footer') -%>
