<%- include('templates/header') -%>

<div class="container">
    <h1 class="center">
        Green Tea
    </h1>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid" src="img/matcha.jpg" alt="Tea"/>
        </div>
        <div class="col-sm-6">
            Green tea is a lighter oxidized tea compared to black and oolong,
            however it can still be quite strong and robust flavored. Green tea
            is different in that its steeping temperature is noticably lower than
            other tea, as it becomes bitter if steeped at temperatures near boiling.
            The ideal temperature range for steeping green tea is between 61<sup>o</sup>
            and 87<sup>o</sup> C. <br><br>
            There are several different ways to prepare green tea, including powdered.
            Matcha is a Japanese type of powdered green tea used in the traditional 
            Japanese tea ceremony. 
            
        </div>
    </div>
</div>


<%- include('templates/footer') -%>