<%- include('templates/header') -%>
<div class="container">
    <h1>
        Mars, The Red Planet
    </h1>
    <img class="planet" src="img/mars.jpg" alt="Mars"/>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <quote>
                Mars is the fourth planet from the sun, and has a distinct red
                color due to the iron oxide which makes up the planet's surface.
                Mars is named after the Roman god of war. The planet is smaller
                than earth, but has two moons, Phobos and Deimos, which orbit the planet.
                Mars has been in news recently as the NASA mars rover Curiosity 
                has made many discoveries, including the presence of water beneath
                the surface of the planet.
            </quote>
        </div>
    </div>

</div>


<%- include('templates/footer') -%>
