<%- include('templates/header') -%>

<div class="container">
    <h1>
        Mercury, The Sprinter
    </h1>
    <img class="planet" src="img/mercury.jpg" alt="Mercury in LANDSAT bands 4 2 1"/>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <quote>
                Mercury is the smallest planet in our solar system, and also the
                planet which orbits closest to the sun. As such, it has the shortest 
                year of all the planets, completing a full orbit in only 88 days. Due to 
                its proximity, the sunlight on the surface would be over 5x brighter 
                than the sunlight which reaches us on earth. The planet is named after
                the Roman god Mercury, the messenger of the gods.
            </quote>
        </div>
    </div>
</div>
<%- include('templates/footer') -%>
