<%- include('templates/header') -%>

<div class="container">
    <h1 class="center">
        Oolong Tea
    </h1>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid" src="img/oolong.jpg" alt="Tea"/>
        </div>
        <div class="col-sm-6">
            Oolong tea is made from tea leaves generally oxidized between 20% to 60%.
            It is extremely popular within China, and is used in the Chinese Gongfu
            tea ceremony. Oolong tea has a large range of flavor variation, and
            is the cultivation and processing of the tea is sometimes kept secret. 
            <br><br>
            Some types of Oolong are extremely expensive, such as Da Hong Pao from 
            northern Fujian province in China, which can sell for over $1,000,000 USD
            for 1kg.
        </div>
    </div>
</div>


<%- include('templates/footer') -%>
