<%- include('templates/header') -%>
<div class="container">
    <h1>
        Venus, The Scorcher
    </h1>

    <img class="planet" src="img/venus.jpg" alt="Venus"/>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <quote>
                Venus is the second planet from the sun, and has the longest day
                of any planet, at 243 earth days to complete one rotation around
                its axis. The environment of venus is extremely ill suited to 
                life as we know it, due to the runaway greenhouse gas effect which
                has been observed, causing it to be the hottest planet in the solar 
                system, with its suface at 863 <sup>o</sup>F. Due to the ability to
                observe venus with the naked eye, it has been know by many ancient 
                cultures, calling it the morning star and evening star due to its 
                visibility as the sun rises and sets.
            </quote>
        </div>
    </div>

</div>


<%- include('templates/footer') -%>
