<%- include('templates/header') -%>

<div class="container">
    <h1 class="center">
        White Tea
    </h1>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <img class="img-fluid" src="img/white.jpg" alt="Tea"/>
        </div>
        <div class="col-sm-6">
            White tea is in general minimally processed, and often not oxidized at 
            all before being treated with gentle heat such as steam to stop the
            oxidiation process. It has a light taste and a pale yellow color when brewed. 
            Often the tea leaves are harvested before the buds of the tea plant have
            opened, which is why the leaves are white colored and not green. The grading
            of white tea is very strict, and only tea leaves with very fine hair
            can be given a high grade. 
        </div>
    </div>
</div>


<%- include('templates/footer') -%>
